body {
	font: 12px Roboto, sans-serif;
	color: #434343;
}

/*Clearfix From Bootstrap*/
.clearfix{*zoom:1;}.clearfix:before,.clearfix:after{display:table;content:"";line-height:0;}
.clearfix:after{clear:both;}
aside {
	float: right;
	clear: right;
}

svg {
	float: left;
	clear: left;
}

svg text {
  font-size: 1.2em;
  text-anchor: middle;
}

svg g text {
	fill: ivory;
}

div {
	background : whitesmoke;
	border: 1px solid #434343;
	color: #434343;
}


/*#0D2C3B,#103242,#12384A,#153E52,
#184459,#1A4A61,#1D5169,#205771,
#235E79,#266481,#296B8A,#2C7192,
#2F789B,#327FA3,#3586AC*/

#linear_episodes rect {
	fill: #fdcdac;
	stroke: whitesmoke;
}

#linear_episodes rect.active {
	fill: #fc8d62;
}


button {
	background: ivory;
	border: 1px solid black;
	border-radius: 5px;
	padding: 4px 10px;
	margin: 2px;
	font: 1.2em Roboto;
	float: left;
}

button.selected {
	background: greenyellow;
}